name: CI
on:
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: .github/workflows/requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/workflows/requirements.txt

      - name: Run tests
        run: |
          export PYTHONPATH="$PWD/..:$PYTHONPATH"
          export MESA_GL_VERSION_OVERRIDE='3.3'
          python -m unittest tests.runTest_cost_values

      - name: Upload failed test image
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-image
          path: test_figs/test_plot_cost_values/cost_side_by_side.png
