---
name: Checks

on:
  pull_request:
    branches: [develop]

permissions: read-all

jobs:
  check:
    name: SuperLint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout current
        uses: actions/checkout@v4
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: Install dependencies
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -r .github/workflows/requirements.txt

      - name: Check RST links
        continue-on-error: true
        run: |
          sphinx-build -q -b linkcheck -d _build/doctrees docs _build/linkcheck \
            || true

          printf "\n%s\n" "=== Ignored URIs, if any:"
          jq -c 'select(.status == "ignored")' _build/linkcheck/output.json

      - name: Lint RST
        run: doc8

      - name: Lint All
        uses: super-linter/super-linter/slim@v6.3.1
        env:
          FILTER_REGEX_EXCLUDE: (.*[.]conf.py|/_templates/)
          IGNORE_GITIGNORED_FILES: true
          VALIDATE_BASH_EXEC: false
          VALIDATE_JAVASCRIPT_STANDARD: false
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_ISORT: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_SHELL_SHFMT: false
          VALIDATE_YAML: false
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
...
